<!DOCTYPE html>
<html>
<head> 
	<title>{% block title '' %}</title>
	{% block styles %}{% endblock %}
	
</head>
<body>
<div>
	<h1>HOME</h1>
	</div>
	<div class="home-slideshow">
		<img class="homebg mySlides" src="../images/home2.png">
		<img class="homebg mySlides" src="../images/home.jpg">
		<button class="w3-button w3-display-left fa fa-chevron-left" aria-hidden="true" onclick="plusDivs(-1)"></button>
		<button class="w3-button w3-display-right fa fa-chevron-right" aria-hidden="true" onclick="plusDivs(+1)"></button>
		<button class="play-button fa fa-play" aria-hidden="true" onclick="play = true"></button>
		<button class="play-button fa fa-pause" aria-hidden="true" onclick="play = false"></button>
		<script src="../js/slideshow.js"></script>
	</div>
<h2>Category 1</h2>
<div class="maincontent">
	<!-- <div class="columns"> -->
		<div class="company">
			<div class="company-text">
				<h3>Company Name</h3>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
			</div>
			<div class="company-img">
				<img src="../images/square.png">	
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="columns"> -->
		<div class="company">
			<div class="company-text">
				<h3>something</h3>
				<p>zero</p>	
			</div>
			<div class="company-img">
				<img src="../images/square4.gif">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Company Name</h3>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>	
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
			</div>
			<div class="company-img">
				<img src="../images/square5.jpg">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Nume Companie</h3>
				<p>O descriere foarte scurta.</p>
			</div>

			<div class="company-img">
				<img src="../images/square2.jpg">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Nome Della Ditta</h3>
				<p>Some italian text that must be a little longer than the previous.</p>	
			</div>
			<div class="company-img">
				<img src="../images/square3.png">	
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="columns"> -->
		<div class="company">
			<div class="company-text">
				<h3>Algotech</h3>
				<p>AlgoTech is the software development arena where our team fights to develop and deliver projects on time, on budget and on scope.</p>
			</div>
			<div class="company-img">
				<img src="../images/algotech.png">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Example number 182</h3>
				<p>Bla bla bla bla... bla bla? Bla bla bla bla... bla bla? Bla bla bla bla... bla bla?</p>
				<p>Bla bla bla bla... bla bla?Bla bla bla bla... bla bla?</p>	
			</div>
			<div class="company-img">
				<img src="../images/square6.png">	
			</div>
		</div>
	<!-- </div> -->
	
</div>
<hr>
<h2>Category 2</h2>
<div class="maincontent">
	<!-- <div class="columns"> -->
		<div class="company">
			<div class="company-text">
				<h3>Company Name</h3>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>	
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
			</div>
			<div class="company-img">
				<img src="../images/square.png">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Nume Companie</h3>
				<p>O descriere foarte scurta.</p>
			</div>
			<div class="company-img">
				<img src="../images/square2.jpg">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Nome Della Ditta</h3>
				<p>Some italian text that must be a little longer than the previous.</p>	
			</div>
			<div class="company-img">
				<img src="../images/square3.png">	
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="columns"> -->
		<div class="company">
			<div class="company-text">
				<h3>something</h3>
				<p>zero</p>	
			</div>
			<div class="company-img">
				<img src="../images/square4.gif">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Company Name</h3>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>	
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
				<p>A short description of this given company. A short description of this given company. A short description of this given company.</p>
			</div>
			<div class="company-img">
				<img src="../images/square5.jpg">	
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="columns"> -->
		<div class="company">
			<div class="company-text">
				<h3>Algotech</h3>
				<p>AlgoTech is the software development arena where our team fights to develop and deliver projects on time, on budget and on scope.</p>
			</div>
			<div class="company-img">
				<img src="../images/algotech.png">	
			</div>
		</div>
		<div class="company">
			<div class="company-text">
				<h3>Example number 182</h3>
				<p>Bla bla bla bla... bla bla? Bla bla bla bla... bla bla? Bla bla bla bla... bla bla?</p>
				<p>Bla bla bla bla... bla bla?Bla bla bla bla... bla bla?</p>	
			</div>
			<div class="company-img">
				<img src="../images/square6.png">	
			</div>
		</div>
	<!-- </div> -->
	
</div>
<hr>
<div align="left">

<div class="form-style-2">
	<div class="form-style-2-heading">Register company here</div>

	<form action="" method="post">
		<label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" required /></label>
		<label for="field2"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="field2" value="" required /></label>
		<label for="field3"><span>Category</span>
		<select name="field3" class="select-field">
			<option value="Restaurant">Restaurant</option>
			<option value="Fast Food">Fast Food</option>
			<option value="Market">Market</option>
			<option value="Drug Store">Drug Store</option>
			<option value="Other">Other</option>
		</select></label>
		<label for="field4"><span>Delivery service </span><input type="checkbox" class="checkbox-field" name="field4"></label>
		<label for="field5"><span>Radio sample </span><input class="radio-field" type="radio" name="field5">Option A <input type="radio" name="field5">Option B <input type="radio" name="field5">Option C </label>
		<label for="field6"><span>Description</span><textarea name="field6" class="textarea-field"></textarea></label>

		<label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
	</form>
</div>

</div>
<hr>
<script src="../js/javascript.js"></script>
</body>
</html>