<html>
    <head>
        <script>
            function chk()
            {
                var inputs = document.getElementsByTagName('input')

                var data = {};
                for (var i = 0; i < inputs.length; ++i) {
                    var input = inputs[i];
                    data[input.name] = input.value;
                }

                var reqListener = function(response) {
                    if (this.readyState==4 && this.status==200) {
                        console.log('response', this.responseText);
                    }
                }

                var oReq = new XMLHttpRequest();
                oReq.onreadystatechange = reqListener;
                oReq.open("POST", "/post-test");
                oReq.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                oReq.send(JSON.stringify(data));
            }
        </script>
    </head>
    <body>
        <form>
           <input type="text" name="nume">
           <br/><br/>
           <input type="text" name="prenume">
           <br/><br/>
           <button type="button" value="submit" onclick="return chk()">Submit</button>
        </form>
    </body>
</html>
